/////////// Screen sizes //////////////////////////////
$xs-devices: 376px;
$sm-devices: 575px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;

/////////// General variables //////////////////////////////
$grey: #a0a0a0;
$bg-color: rgb(232, 232, 232);
$green: #7CAF1F;
$red: #C83524;
$pop_up_red: #e23030;

/////////// Mixins //////////////////////////////
%logo {
    color: black;
    font: {
        family: "Pacifico", sans-serif;
        size: 25px;
    }
    margin: 0px;


}

%container-box {
    background-color: $grey;
    margin: 4px;
    -webkit-box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
    box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);


}

/////////// General styles //////////////////////////////
body {
    line-height: 26px;
    background-color: $bg-color;
    font-family: "Archivo+Black", sans-serif;
    color: white;

}

main {
    min-height: calc(176vh - 66px);
    margin: 0px 0px 30px 60px;
}





text {
    fill: white;

}

.dc-chart .pie-slice.external {
    fill: white;
}

.dc-chart .axis line,
.dc-chart .axis path {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.dc-select-menu {
    color: black;
    background-color: $bg-color;
}


.section {
    margin: 20px 15px 0px 15px;
}


.ui-tooltip,
.arrow:after {
    background: $grey;
    border: 2px solid $bg-color;
    opacity: 1;
}


.ui-tooltip {
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    font: bold 14px "Archivo+Black", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px $bg-color;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px $bg-color;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/////////// Header //////////////////////////////
.navbar {
    -webkit-box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
    box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
    background-color: $grey;
    min-height: 66px;
    width: 100%;
    div {
        width: 100%;
    }
}

.logo-header {
    @extend %logo
}

.logo-header a:hover {
    text-decoration: none;
}


.logo-link {
    color: black;
}

.logo-link:hover {
    color: $bg-color;
}

#month {
    font: {
        family: 'Archivo+Black', sans-serif;
        size: 27px;
        weight: 400;
    }
    ;
    display: inline-block;

}

.reset-button-style:hover {
    color: black;
    background-color: $bg-color;
    .reset {
        color: black;
        transition: 0.50s;
        -webkit-transition: 0.50s;
        -moz-transition: 0.50s;
        -ms-transition: 0.50s;
        -o-transition: 0.50s;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }


}

.reset-button-style {
    border: 1px solid #82888e;
    color: white;
    border-radius: 27%;
    background-color: #52b913;
    margin: 0px 0px 0px 15px;
    max-width: 119px;
    min-width: 119px;
    max-height: 28px;
    transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
    i {
        margin: 0px 0px 0px 5px;
    }
}

.relative {
    position: relative;
}

/////////// Body //////////////////////////////
.totals {
    display: inline-block;
    padding: 38px 0px 0px 0px;
}

.number-display {
    padding: 0px 0px 0px 0px;
    font-size: 25px;
}

.spacing {
    padding: 38px 0px 0px 30px;
}

.legend {
    i {
        margin: 0px 10px 0px 27px;
    }
    .fa-check:before {
        color: $green;
    }
    .fa-times:before {
        color: $red;
    }

}

#store-location-selector {
    max-width: 40%;

}

button,
select {
    margin-right: 24px;
}

.store-selector {
    margin: 15px 0px 11px 12px;

}


.box {
    @extend %container-box;
    float: right;
    max-height: 138px;
    h5 {
        margin: 10px 0px 10px 0px;
        float: left;
        max-width: 50%;
        text-align: left;

    }
}

.box-selector {
    @extend %container-box;
    max-height: 90px;
    float: left;

}

#amount-gained-lost-per-store {
    margin: 3px 0px 0px 9px;
}

.container-box-earnings {
    background-color: $grey;
    margin: 4px;
    -webkit-box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
    box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
    position: relative;
    h5 {
        margin: 18px 0px 9px 24px;
    }
}

.container-box-leads {
    background-color: $grey;
    margin: 4px;
    -webkit-box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
    box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
    position: relative;
    h5 {
        margin: 21px -173px 11px 29px;
        padding: 0px 0px 0px 7px;
        max-width: 93%;
    }
}

.large-chart-resizing {
    min-width: 840px;
    margin: 15px 0px;


}

#leads-to-appts {
    display: inline-block;
    padding: 26px 0px 0px 12px;
    float: left;
}

#leads-and-appts-per-store {
    margin: 4px 0px 4px 22px;



}

.pie-chart-sizing {
    max-height: 459px;
    min-width: 416px;
    display: inline-block;
    padding: 0px;
    margin: 15px 15px 0px 15px;
}


/////////// Footer //////////////////////////////
.logo-footer a:hover {
    text-decoration: none;
}

.footer {
    background-color: $grey;
    width: 100%;
    height: 68px;
    position: absolute;

}

.footer-links {
    margin: 0px;
    padding: 20px 45px 0px 0px;
    text-decoration: none;
    a {
        color: black;
        font: {
            family: 'Archivo+Black', sans-serif;
            size: 22px;
            weight: 400;
        }
        ;
        padding: 0px 20px 0px 20px;
    }
}


.logo-footer {
    @extend %logo;
    margin: 0 auto;
    padding: 0px 0px 0px 100px;
    display: inline-block;


}

.bottomnav {
    overflow: hidden;
    margin: 7px 0px 0px 0px;
    .nav-link {
        background-color: $grey;
    }


}

.bottomnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bottomnav a:hover {
    color: $bg-color;
}


.bottomnav .icon {
    display: none;
    font-size: 33px;
    margin: 2px 0px 0px -13px;
}


/////////// Media queries ///////////////////
@media(max-width: 1000px) {
    main {
        margin: 0px 0px 25px 0px;
    }

}


@media (max-width: $lg-devices) and (min-width: $md-devices) {}

@media (max-width: 872px) {
    .bottomnav {
        margin: 0px;
    }

}

@media (max-width: 850px) {

    .large-chart-resizing {
        min-width: 100%;
        max-width: 100%;
        overflow: scroll;
    }

    .pie-chart-sizing {
        overflow: scroll;
    }
}

@media (min-width: 768px) {
    .offset-md-1 {
        margin-left: 4.333333%;
    }

}

@media screen and (max-width: $md-devices) {
    .bottomnav a {
        display: none;
    }
    .bottomnav a.icon {
        float: left;
        display: block;

    }
    .bottomnav.responsive {
        position: relative;
    }
    .bottomnav.responsive .icon {
        position: absolute;
        right: -12px;
        top: 0;
    }
    .bottomnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

.logo-footer {
    padding: 18px 0px 0px 0px;

}


@media (max-width: $sm-devices) {

    .navbar {
        min-height: 147px;
    }

    .reset-button-style {
        margin: 10px 0px 0px 15px;
    }

    .relative button {
        position: absolute;
        right: 28px;
        top: 59px;
    }

    #month {
        padding: 10px 0px 0px 15px;
        text-align: center;
    }

    .logo-footer {
        width: 50%;
    }

    .logo-header {
        padding: 0px 0px 0px 15px;
        text-align: center;
    }

    .bottomnav {
        width: 28%;
    }


    .pie-chart-sizing {
        min-width: 0%;
        width: 100%;
    }


}
