.logo-header, .logo-footer {
  color: black;
  font-family: "Pacifico", sans-serif;
  font-size: 25px;
  margin: 0px; }

.box, .box-selector {
  background-color: #a0a0a0;
  margin: 4px;
  -webkit-box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
  box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26); }

body {
  line-height: 26px;
  background-color: #e8e8e8;
  font-family: "Archivo+Black", sans-serif;
  color: white; }

main {
  min-height: calc(176vh - 66px);
  margin: 0px 0px 30px 60px; }

.section {
  margin: 20px 15px 0px 15px; }

.spacing-for-number-displays {
  padding: 38px 0px 0px 30px; }

text {
  fill: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.dc-chart .pie-slice.external {
  fill: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.dc-chart .axis line,
.dc-chart .axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges; }

.dc-select-menu {
  color: black;
  background-color: #e8e8e8; }

.ui-tooltip,
.arrow:after {
  background: #e23030;
  border: 2px solid #e8e8e8;
  opacity: 1; }

.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Archivo+Black", Sans-Serif;
  box-shadow: 0 0 7px #e8e8e8; }

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px; }

.arrow.top {
  top: -16px;
  bottom: auto; }

.arrow.left {
  left: 20%; }

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px #e8e8e8;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.arrow.top:after {
  bottom: -20px;
  top: auto; }

.navbar {
  -webkit-box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
  box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
  background-color: #a0a0a0;
  min-height: 66px;
  width: 100%; }
  .navbar div {
    width: 100%; }

.logo-header a:hover {
  text-decoration: none; }

.logo-link {
  color: black; }

.logo-link:hover {
  color: #e8e8e8; }

#month {
  font-family: 'Archivo+Black', sans-serif;
  font-size: 27px;
  font-weight: 400;
  display: inline-block; }

.reset-button-style:hover {
  color: black;
  background-color: #e8e8e8; }
  .reset-button-style:hover .reset {
    color: black;
    transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }

.reset-button-style {
  border: 1px solid #82888e;
  color: white;
  border-radius: 27%;
  background-color: #52b913;
  margin: 0px 0px 0px 15px;
  max-width: 119px;
  min-width: 119px;
  max-height: 28px;
  transition: 0.50s;
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s; }
  .reset-button-style i {
    margin: 0px 0px 0px 5px; }

.relative {
  position: relative; }

.totals {
  display: inline-block;
  padding: 38px 0px 0px 0px; }

.number-display {
  margin: 0px 0px 0px 30px;
  font-size: 25px;
  text-shadow: 1px 0 #73cec9, 0 1px #73cec9, 1px 0 #73cec9, 0 1px #73cec9; }

.legend i {
  margin: 0px 10px 0px 27px; }
.legend .fa-check:before {
  color: #7CAF1F;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.legend .fa-times:before {
  color: #C83524;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

#store-location-selector {
  max-width: 40%; }

button,
select {
  margin-right: 24px; }

.store-selector {
  margin: 15px 0px 11px 12px; }

.box {
  float: right;
  max-height: 138px;
  box-sizing: content-box; }
  .box h5 {
    margin: 10px 0px 10px 0px;
    float: left;
    max-width: 50%;
    text-align: left; }

.box-selector {
  max-height: 90px;
  float: left; }

#amount-gained-lost-per-store {
  margin: 3px 0px 0px 9px; }

.container-box-earnings {
  background-color: #a0a0a0;
  margin: 4px;
  -webkit-box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
  box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
  position: relative; }
  .container-box-earnings h5 {
    margin: 18px 0px 9px 24px; }

.container-box-leads {
  background-color: #a0a0a0;
  margin: 4px;
  -webkit-box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
  box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.26);
  position: relative; }
  .container-box-leads h5 {
    margin: 21px -173px 11px 29px;
    padding: 0px 0px 0px 7px;
    max-width: 93%; }

.large-chart-resizing {
  min-width: 840px;
  margin: 15px 0px; }

#leads-to-appts {
  display: inline-block;
  padding: 26px 0px 0px 12px;
  float: left; }

#leads-and-appts-per-store {
  margin: 4px 0px 4px 22px; }

.pie-chart-sizing {
  max-height: 459px;
  min-width: 416px;
  display: inline-block;
  padding: 0px;
  margin: 15px 15px 0px 15px; }

.footer {
  background-color: #a0a0a0;
  width: 100%;
  height: 68px;
  position: absolute; }

.footer-links {
  margin: 0px;
  padding: 20px 45px 0px 0px;
  text-decoration: none; }
  .footer-links a {
    color: black;
    font-family: 'Archivo+Black', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 0px 20px 0px 20px; }

.logo-footer {
  margin: 0 auto;
  padding: 18px 0px 0px 100px;
  display: inline-block; }

.logo-footer a:hover {
  text-decoration: none; }

.bottomnav {
  overflow: hidden;
  margin: 7px 0px 0px 0px; }
  .bottomnav .nav-link {
    background-color: #a0a0a0; }

.bottomnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.bottomnav a:hover {
  color: #e8e8e8; }

.bottomnav .icon {
  display: none;
  font-size: 33px;
  margin: 2px 0px 0px -13px; }

@media (max-width: 1000px) {
  main {
    margin: 0px 0px 25px 0px; } }
@media (max-width: 872px) {
  .bottomnav {
    margin: 0px; } }
@media (max-width: 850px) {
  .large-chart-resizing {
    min-width: 100%;
    max-width: 100%;
    overflow: scroll; }

  .pie-chart-sizing {
    overflow: scroll; } }
@media (min-width: 768px) {
  .offset-md-1 {
    margin-left: 4.333333%; } }
@media screen and (max-width: 768px) {
  .bottomnav a {
    display: none; }

  .bottomnav a.icon {
    float: left;
    display: block; }

  .bottomnav.responsive {
    position: relative; }

  .bottomnav.responsive .icon {
    position: absolute;
    right: -12px;
    top: 0; }

  .bottomnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }
@media (max-width: 575px) {
  .navbar {
    min-height: 147px; }

  .reset-button-style {
    margin: 10px 0px 0px 15px; }

  .relative button {
    position: absolute;
    right: 28px;
    top: 59px; }

  #month {
    padding: 10px 0px 0px 15px;
    text-align: center; }

  .logo-footer {
    width: 50%;
    padding: 18px 0px 0px 0px; }

  .logo-header {
    padding: 0px 0px 0px 15px;
    text-align: center; }

  .bottomnav {
    width: 28%; }

  .pie-chart-sizing {
    min-width: 0%;
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
